---
---

$header-heading-color: #f3f6fa !default;

@import "{{ site.theme }}";

.project-logo {
  margin-bottom: 5px;
}

@media screen and (min-width: 64em) {
  .page-header {
    padding: 2rem 6rem;
  }

  .project-name {
    font-size: 2.25rem;
  }
}
